view_of_delft/
data/view_of_delft/
src/tools/testSSH.py

__pycache__/
*.pyc
*.npy

painted_radar/
painted_radar_mobilenet/
painted_radar_resnet/

outputs/
lightning_logs/
wandb/
*.out
*.err
*.log
slurm-*.out
slurm-*.err
*.png

*.ckpt
*.pt
*.pth

.hydra/

*results.txt
pointpainting_radar_mobileNet/wandb_logs/wandb/run-20260325_010221-bnf9imxa/run-bnf9imxa.wandb
**/.ipynb_checkpoints/
